<h1>This is the secret page</h1>

<h3>You found it...ENJOY</h3>

<img src="http://p.fod4.com/p/media/d9b4e72f4c/j6RPCDdlQoinzq9A9fMF_Pool%20Slide%20Dog%20Flying.gif">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>